@using MIS.Common
@model MIS.Web.Models.ModuleViewModel

@{
    ViewBag.Title = @MIS.Common.UIString.TitlePageModule;
}

<section class="content-header">
    <h1>
        <i class="fa fa-list"></i>
        @MIS.Common.UIString.TitlePageManageLarge
        <small>@MIS.Common.UIString.FieldNameModuleId </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>@MIS.Common.UIString.BreadCrumbHome</a></li>
        <li><a href="#">@MIS.Common.UIString.FieldNameModuleId</a></li>
        <li class="active">@MIS.Common.UIString.BreadCrumbEdit</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">
                    <i class="fa fa-edit"></i>                    
                        @MIS.Common.UIString.BreadCrumbEdit @MIS.Common.UIString.FieldNameModuleId  
                        
                    </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("Edit", "Module", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                @Html.LabelFor(model => model.Code, new { @class = "control-label" })
                                @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                @Html.LabelFor(model => model.SubjectId, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.SubjectId, (IEnumerable<SelectListItem>)ViewBag.SubjectList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SubjectId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                @Html.LabelFor(model => model.NumberOfCredit, new { @class = "control-label" })
                                @Html.EditorFor(model => model.NumberOfCredit, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NumberOfCredit, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                @Html.LabelFor(model => model.StatusId, new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.StatusId, (IEnumerable<SelectListItem>)ViewBag.StatusList, "-----" + @UIString.DropListSelect + " " + @UIString.FieldNameStatusId + "-----", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                @Html.LabelFor(model => model.Note, new { @class = "control-label" })
                                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    <div class="box-footer">
                        <a class="btn btn-default btn-view" href="@Url.Action("Index","Module")" title="@MIS.Common.UIString.ButtonBack">
                        <i class="fa fa-chevron-circle-left"></i>
                            @MIS.Common.UIString.ButtonBack
                            </a>
                            <button type="submit" class="btn btn-info" title="@MIS.Common.UIString.ButtonEdit">
                                <i class="fa fa-edit"></i>
                                @MIS.Common.UIString.ButtonEdit
                            </button>
                             </div>
                        </div>
                    <!-- /.box-footer -->
                }
            </div>
        </div>
    </div>
</section>