@using MIS.Common
@model MIS.Web.Models.RoomViewModel
@{
    ViewBag.Title = @UIString.TitlePageRoom;
}

<section class="content-header">
    <h1 class="fa fa-list">
        @UIString.TitlePageRoom
        <small> @UIString.FieldNameRoomId</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @UIString.BreadCrumbHome</a></li>
        <li><a href="@Url.Action("Index", "Room")"> @UIString.TitlePageRoom</a></li>
        <li class="active">@UIString.BreadCrumbCreate</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-plus-square"></i>
                        @UIString.BreadCrumbCreate @UIString.FieldNameRoomId
                    </h3>
                </div>

                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("Create", "Room", FormMethod.Post, new {role = "form"}))
                {
                    @Html.AntiForgeryToken()
    <div class="box-body">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="form-group col-md-4 col-sm-6">
                @Html.LabelFor(model => model.RoomName, new { @class = "control-label" })
                @Html.EditorFor(model => model.RoomName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoomName, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-4 col-sm-6">
                @Html.LabelFor(model => model.RoomCode, new { @class = "control-label" })
                @Html.EditorFor(model => model.RoomCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.RoomCode, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-4 col-sm-6">
                @Html.LabelFor(model => model.CampusId, new { @class = "control-label" })
                @Html.DropDownListFor(model => model.CampusId, (IEnumerable<SelectListItem>)ViewBag.CampusList, "-----" + @UIString.DropListSelect + " " + @UIString.ObjectCampus + "-----", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CampusId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                @Html.LabelFor(model => model.StatusId, htmlAttributes: new { @class = "control-label" })
                @Html.DropDownListFor(model => model.StatusId, (IEnumerable<SelectListItem>)ViewBag.StatusList, "-----" + @UIString.DropListSelect + " " + @UIString.FieldNameStatusId + "-----", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
            </div>

            <div class=" form-group col-md-8 col-sm-6">
                @Html.LabelFor(model => model.Note, new { @class = "control-label" })
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
                    <div class="box-footer">

                        <a class="btn btn-default btn-view" href="@Url.Action("Index", "Room")" title="@UIString.ButtonBack">
                            <i class="fa fa-chevron-circle-left"></i>
                            @UIString.ButtonBack
                        </a>

                        <button type="submit" class="btn btn-primary btn-view" title="@UIString.ButtonSubmit">
                            @UIString.ButtonSubmit
                        </button>

                    </div>
                    <!-- /.box-footer -->
                }
                <!-- /.box-footer -->

            </div>
        </div >
    </div >
</section>
