@using Group04_CMS.Common.Global
@model Group04_CMS.ViewModels.StudentModel

@{
    ViewBag.Title = @UIString.TitlePageStudent;
}

@Scripts.Render("~/bundles/Faculty")
<section class="content-header">
    <h1 class="fa fa-list">
        @UIString.TitlePageManageLarge
        <small> @UIString.FieldNameStudent</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @UIString.BreadCrumbHome</a></li>
        <li><a href="@Url.Action("Student", "Faculty")">@UIString.TitlePageStudent</a></li>
        <li class="active">@UIString.BreadCrumbEdit</li>
    </ol>
</section>

<section class="content" ng-controller="facultyController">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-edit"></i>
                        @UIString.BreadCrumbEdit @UIString.FieldNameStudent
                    </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form ng-init="getCurrentStudent()" name="studentForm">
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                <label class="control-label">@UIString.FieldNameStudentName</label>
                                <input class="form-control" ng-model="currentStudent.FullName" ng-required="true" />
                            </div>
                            <div class="form-group col-md-4 col-sm-8 col-xs-12">
                                <label class="control-label">@UIString.FieldNameEmail</label>
                                <input class="form-control" ng-model="currentStudent.Email" ng-required="true" />
                            </div>
                            <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">@UIString.FieldNameStudentCode</label>
                                <input class="form-control" ng-model="currentStudent.StudentCode" ng-required="true" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                <label class="control-label">@UIString.FieldNameDateOfBirth</label>
                                <input class="form-control hasDatepicker" placeholder="@UIString.DatePickerDateOfBirth"
                                       ng-model="currentStudent.DateOfBirth" ng-required="true" />
                            </div>
                            <div class="form-group col-md-4 col-sm-8 col-xs-12">
                                <label class="control-label">@UIString.FieldNamePhoneNumber</label>
                                <input class="form-control" ng-model="currentStudent.PhoneNumber" ng-required="true" />
                            </div>
                            <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">@UIString.FieldNameAddress</label>
                                <input class="form-control" ng-model="currentStudent.Address" ng-required="true" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">@UIString.FieldNameStatus</label>
                                <select ng-model="currentStudent.Status" class="form-control" ng-required="true">
                                    <option data-ng-repeat="s in stateData" value="{{s.StatusName}}" ng-selected="currentStudent.Status == s.StatusName">{{s.StatusName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <a class="btn btn-default  btn-view " href="@Url.Action("Student", "Faculty")" title="@UIString.ButtonBack">
                            <i class="fa fa-chevron-circle-left"></i>
                            @UIString.ButtonBack
                        </a>
                        <button class="btn btn-info  btn-view" ng-click="studentForm.$valid && saveStudent()" title="@UIString.ButtonEdit">
                            <i class=" fa fa-edit"></i>
                            @UIString.ButtonEdit
                        </button>

                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
</section>




