@using Group04_CMS.Common.Global
@model Group04_CMS.ViewModels.FacultyCourseModel

@{
    ViewBag.Title = @UIString.TitlePageFacultyCourse;
}

@Scripts.Render("~/bundles/Faculty")
<section class="content-header">
    <h1 class="fa fa-list">
        @UIString.TitlePageManageLarge
        <small> @UIString.FieldNameFacultyCourseId</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @UIString.BreadCrumbHome</a></li>
        <li><a href="@Url.Action("Index", "Account")">@UIString.TitlePageFacultyCourse</a></li>
        <li class="active">@UIString.BreadCrumbEdit</li>
    </ol>
</section>

<section class="content" ng-controller="facultyController">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-edit"></i>
                        @UIString.BreadCrumbEdit @UIString.FieldNameFacultyCourseId
                    </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form ng-init="getCurrentFacultyCourse()" name="facultyCourseForm">
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                <label class="control-label">@UIString.FieldNameFacultyId</label>
                                <select ng-init="getFaculties()" ng-model="currentFacultyCourse.FacultyId" class="dropdown form-control" ng-required="true">
                                    <option ng-repeat="item in faculties" ng-selected="currentFacultyCourse.FacultyId == item.FacultyId"
                                            value="{{item.FacultyId}}">
                                        {{item.FacultyName}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                <label class="control-label">@UIString.FieldNameCourseId</label>
                                <select ng-init="getCourses()" ng-model="currentFacultyCourse.CourseId" class="dropdown form-control" ng-required="true">
                                    <option ng-repeat="item in courses" ng-selected="currentFacultyCourse.CourseId == item.CourseId"
                                            value="{{item.CourseId}}">
                                        {{item.CourseCode}}
                                    </option>
                                </select>
                            </div>
                            <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                <label class="control-label">Status</label>
                                <select ng-init="getGeneralStatusList()" ng-model="currentFacultyCourse.Status"
                                        class="dropdown form-control" ng-required="true">
                                    <option ng-repeat="s in statusData" ng-selected="currentFacultyCourse.Status == s.StatusName"
                                            value="{{s.StatusName}}">
                                        {{s.StatusName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label">Note</label>
                                <input type="text" class="form-control" ng-model="currentFacultyCourse.Note" ng-required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <a class="btn btn-default btn-view" href="@Url.Action("FacultyCourse", "Faculty")" title="@UIString.ButtonBack">
                            <i class="fa fa-chevron-circle-left"></i>
                            @UIString.ButtonBack
                        </a>

                        <button class="btn btn-primary btn-view" ng-click="facultyCourseForm.$valid && saveFacultyCourse()" title="@UIString.ButtonSubmit">
                            @UIString.ButtonSubmit
                        </button>

                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
</section>




