
@using MIS.Common
@model MIS.Web.Models.StudentStatusViewModel

@{
    ViewBag.Title = "Student Status Management";
}

<section class="content-header">
    <h1>
        <i class="fa fa-list"></i>
        Manage
        <small> Student Status</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Student Status Management</a></li>
        <li class="active">Create</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-plus-square"></i>
                        Create Student Status
                    </h3>
                </div>

                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("Create", "StudentStatus", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-6 col-sm-6">
                                @Html.LabelFor(model => model.CollegeId, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.CollegeId, (IEnumerable<SelectListItem>)ViewBag.CollegeList, "-----" + @UIString.DropListSelect + " " + @UIString.ObjectCollege + "-----", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CollegeId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                          

                            <div class="form-group col-md-12">
                                @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                            </div>


                        </div>





                    </div>
                    <div class="box-footer">

                        <a class="btn btn-default btn-view" href="@Url.Action("Index", "StudentStatus")" title="@MIS.Common.UIString.ButtonBack">
                            <i class="fa fa-chevron-circle-left"></i>
                            @MIS.Common.UIString.ButtonBack
                        </a>

                        <button type="submit" class="btn btn-primary btn-view" title="@MIS.Common.UIString.ButtonSubmit">
                            @MIS.Common.UIString.ButtonSubmit
                        </button>

                    </div>
                    <!-- /.box-footer -->
                }
                <!-- /.box-footer -->

            </div>
        </div>
    </div>
</section>

@section css {
    <link rel="stylesheet" href="~/Content/datepicker3.css">
}
@section scripts {
    <script type="text/javascript" src="~/Scripts/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#StartDate').datepicker({
                showClose: true,
                showClear: true,
                toolbarPlacement: 'top'
            });
            $('#EndDate').datepicker({
                showClose: true,
                showClear: true,
                toolbarPlacement: 'top',
                stepping: 15
            });
        });
    </script>
}          