@using Group04_CMS.Common.Global
@model Group04_CMS.ViewModels.RoleModel

@{
    ViewBag.Title = @UIString.TitlePageRole;
}

@Scripts.Render("~/bundles/Account")
<section class="content-header">
    <h1>
        <i class="fa fa-list"></i>
        @UIString.TitlePageManageLarge
        <small> @UIString.FieldNameRoleId</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @UIString.BreadCrumbHome</a></li>
        <li><a href="@Url.Action("Role", "Account")">@UIString.TitlePageRole</a></li>
        <li class="active">@UIString.BreadCrumbCreate</li>
    </ol>
</section>

<section class="content" ng-controller="accountController">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-plus-square"></i>
                        @UIString.BreadCrumbCreate @UIString.FieldNameRoleId
                    </h3>
                </div>

                <!-- /.box-header -->
                <!-- form start -->
                <form name="roleForm">
                    <div class="box-body">

                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label class="control-label">Role Name</label>
                                <input class="form-control" ng-model="RoleName" ng-required="true" />
                            </div>

                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label class="control-label">Status</label>
                                <select ng-init="getGeneralStatusList()" ng-model="selectedStatus" class="dropdown form-control" ng-required="true" >
                                    <option value="" selected>-- Choose status --</option>
                                    <option ng-repeat="s in statusData"
                                            value="{{s.StatusId}}">
                                        {{s.StatusName}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label">Note</label>
                                <input type="text" class="form-control" ng-model="Note" ng-required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">

                        <a class="btn btn-default btn-view" href="@Url.Action("Role", "Account")" title="@UIString.ButtonBack">
                            <i class="fa fa-chevron-circle-left"></i>
                            @UIString.ButtonBack
                        </a>

                        <button class="btn btn-primary btn-view" ng-click="roleForm.$valid && addRole()" title="@UIString.ButtonSubmit">
                            @UIString.ButtonSubmit
                        </button>

                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
