@using Group04_CMS.Common.Global
@model Group04_CMS.ViewModels.UserModel

@{
    ViewBag.Title = @UIString.TitlePageUser;
}

@Scripts.Render("~/bundles/Account")
<section class="content-header">
    <h1 class="fa fa-list">
        @UIString.TitlePageManageLarge
        <small> @UIString.FieldNameUserId</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @UIString.BreadCrumbHome</a></li>
        <li><a href="@Url.Action("Index", "Account")">@UIString.TitlePageUser</a></li>
        <li class="active">@UIString.BreadCrumbEdit</li>
    </ol>
</section>

<section class="content" ng-controller="accountController">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-edit"></i>
                        @UIString.BreadCrumbEdit @UIString.FieldNameUserId
                    </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form ng-init="getCurrentUser()" name="userForm">
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label class="control-label">User Name</label>
                                <input type="text" class="form-control" ng-model="currentUser.UserName" ng-required="true" />
                            </div>

                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                <label class="control-label">Status</label>
                                <select ng-model="currentUser.Status.StatusName" class="form-control" ng-required="true">
                                    <option data-ng-repeat="s in statusData" value="{{s.StatusId}}" ng-selected="currentUser.Status.StatusName==s.StatusName">{{s.StatusName}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                <label class="control-label">Email</label>
                                <input type="text" class="form-control" ng-model="currentUser.Email" ng-required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <a class="btn btn-default  btn-view " href="@Url.Action("Index", "Account")" title="@UIString.ButtonBack">
                            <i class="fa fa-chevron-circle-left"></i>
                            @UIString.ButtonBack
                        </a>
                        <button class="btn btn-info  btn-view" ng-click="userForm.$valid && editUser()" title="@UIString.ButtonEdit">
                            <i class=" fa fa-edit"></i>
                            @UIString.ButtonEdit
                        </button>

                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
        </div>
    </div>
</section>


