@using Group04_CMS.Common.Global
@model Group04_CMS.ViewModels.RoleModel

@{
    ViewBag.Title = @UIString.TitlePageRole;
}

@Scripts.Render("~/bundles/Account")
<section class="content-header">
    <h1 class="fa fa-list">
        @UIString.TitlePageManageLarge
        <small> @UIString.FieldNameRoleId</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @UIString.BreadCrumbHome</a></li>
        <li><a href="@Url.Action("Role", "Account")">@UIString.TitlePageRole</a></li>
        <li class="active">@UIString.BreadCrumbEdit</li>
    </ol>
</section>

<section class="content" ng-app="accountApp" ng-controller="accountController" ng-init="getRoleDetails()">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-edit"></i>
                        @UIString.BreadCrumbEdit @UIString.FieldNameRoleId
                    </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("EditRole", "Account", new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div hidden="hidden">
                                <label class="form-control" ng-model="RoleId"></label>
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control", ng_model = "RoleName" } })
                                @Html.ValidationMessageFor(model => model.RoleName, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                @Html.LabelFor(model => model.GeneralStatus.StatusId, htmlAttributes: new { @class = "control-label" })
                                <select ng-model="selectedStatus" class="form-control">
                                    <option ng-repeat="s in statusData" value="{{s.StatusId}}">{{s.StatusName}}</option>
                                </select>
                                @Html.ValidationMessageFor(model => model.GeneralStatus.StatusId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control", ng_model = "Note" } })
                                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <a class="btn btn-default  btn-view " href="@Url.Action("Role", "Account")" title="@UIString.ButtonBack">
                            <i class="fa fa-chevron-circle-left"></i>
                            @UIString.ButtonBack
                        </a>
                        <button class="btn btn-info  btn-view" title="@UIString.ButtonEdit">
                            <i class=" fa fa-edit"></i>
                            @UIString.ButtonEdit
                        </button>

                    </div>
                    <!-- /.box-footer -->
                }
            </div>
        </div>
    </div>
</section>


