@using Group04_CMS.Common.Global
@model Group04_CMS.ViewModels.RoleModel

@{
    ViewBag.Title = @UIString.TitlePageRole;
}

@Scripts.Render("~/bundles/Account")
<section class="content-header" ng-app="accountApp" ng-controller="accountController">
    <h1 class="fa fa-list">
        @UIString.TitlePageManageLarge
        <small> @UIString.FieldNameRoleId</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @UIString.BreadCrumbHome</a></li>
        <li><a href="@Url.Action("Role", "Account")">@UIString.TitlePageRole</a></li>
        <li class="active">@UIString.BreadCrumbDetails</li>
    </ol>
    <div class="box-tools">
        <p class="text-right btn-grid-group">

            <a class="btn btn-default btn-view" href="@Url.Action("Role", "Account")" title="@UIString.ButtonBack">
                <i class="fa fa-chevron-circle-left"></i>
                @UIString.ButtonBack
            </a>

            <a class="btn btn-info btn-view" href="@Url.Action("EditRole", "Account", new { id = Model.RoleId })" title="@UIString.ButtonEdit">
                <i class="fa fa-edit"></i>
                @UIString.ButtonEdit
            </a>

            <a class="btn btn-danger btn-view" href="#" onclick="javascript:deleteItem(@Model.RoleId);" title="@UIString.ButtonDelete">
                <i class="fa fa-trash"></i>
                @UIString.ButtonDelete
            </a>
        </p>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-eye"></i>
                        @UIString.FieldNameRoleId @UIString.BreadCrumbDetails
                    </h3>
                </div>
                <div class="box-body">
                    <div class="box-body no-padding table-responsive">
                        <table class="table table-striped table-bordered detail-view" id="w0">
                            <tbody class="table-hover">
                                <tr class="odd">
                                    <th class="col-sm-2">@Html.DisplayNameFor(model => model.RoleName)</th>
                                    <td class="col-sm-4">@Html.DisplayFor(model => model.RoleName)</td>
                                    <th class="col-sm-2">@Html.DisplayNameFor(model => model.GeneralStatus.CreateTime)</th>
                                    <td class="col-sm-4">@Html.DisplayFor(model => model.GeneralStatus.CreateTime.DateTime)</td>
                                </tr>
                                <tr class="even">
                                    <th class="col-sm-2">@Html.DisplayNameFor(model => model.GeneralStatus.CreateUserId)</th>
                                    <td class="col-sm-4">@Html.DisplayFor(model => model.GeneralStatus.CreateUserId)</td>
                                    <th class="col-sm-2">@Html.DisplayNameFor(model => model.GeneralStatus.UpdateTime)</th>
                                    <td class="col-sm-4">@Html.DisplayFor(model => model.GeneralStatus.UpdateTime.DateTime)</td>
                                </tr>
                                <tr class="odd">
                                    <th class="col-sm-2">@Html.DisplayNameFor(model => model.GeneralStatus.UpdateUserId)</th>
                                    <td class="col-sm-4">@Html.DisplayFor(model => model.GeneralStatus.UpdateUserId)</td>
                                    <th class="col-sm-2">@Html.DisplayNameFor(model => model.GeneralStatus.StatusId)</th>
                                    <td class="col-sm-4"><span class="label label-success">@Html.DisplayFor(model => model.GeneralStatus.StatusId)</span></td>
                                </tr>.
                                <tr class="even">
                                    <th class="col-sm-2">@Html.DisplayNameFor(model => model.Note)</th>
                                    <td colspan="3">@Html.DisplayFor(model => model.Note)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script type="text/javascript" src="~/Scripts/bootbox.min.js"></script>
<script type="text/javascript">
        function deleteItem(id) {
            bootbox.dialog({
                message: "@Messages.ConfirmationDeletion @UIString.FieldNameRoleId?",
                title: "@UIString.TitleDialogConfirmDelete @UIString.FieldNameRoleId",
                buttons: {
                    cancel: {
                        label: "@UIString.ButtonConfirmDeleteNo",
                        className: "btn-default",
                        callback: function () {
                            bootbox.hideAll();
                        }
                    },
                    ok: {
                        label: "@UIString.ButtonConfirmDeleteYes",
                        className: "btn-primary",
                        callback: function () {
                            location.href = "@Url.Action("Delete", "Role")/" + id;
                        }
                    }
                }
            });
        }
</script>
