@model Group04_CMS.Models.Course

@{
    ViewBag.Title = "Add a Course";
}

<section class="content-header">
    <h1><i class="fa fa-plus-square-o"></i> Add a Course</h1>
</section>
<section class="content">
    <div class="box box-solid col-xs-12">
        <div class="box-header with-border">
            <h1 class="box-title"></h1>
        </div>
        <div class="box-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.CourseCode, "Course Code", htmlAttributes: new { @class = "control-label col-xs-12 col-md-3" })
                        <div class="col-xs-12 col-md-9">
                            @Html.EditorFor(model => model.CourseCode, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CourseCode, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.CourseName, "Course Name", htmlAttributes: new { @class = "control-label col-xs-12 col-md-3" })
                        <div class="col-xs-12 col-md-9">
                            @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group col-xs-12 col-md-6">
                        @Html.LabelFor(model => model.CourseStatus, "Course Status", htmlAttributes: new { @class = "control-label col-xs-12 col-md-3" })
                        <div class="col-xs-12 col-md-9" style="padding-bottom: 15px">
                            @Html.DropDownListFor(m => m.CourseStatus, ViewData["CourseStatusList"] as List<SelectListItem>, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.CourseStatus, "", new { @class = "text-danger" })
                        </div>
                        <label class="col-xs-12 col-md-3"></label>
                        <div class="col-xs-12 col-md-9">
                            <input type="submit" value="Add Course" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="box-footer">
            <div class="form-group col-xs-12">
                <a href="/Courses/Index"><i class="fa fa-reply"></i> Back to List</a>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
