@model IEnumerable<Group04_CMS.Models.Course>

@{
    ViewBag.Title = "Index";
}
<section class="content-header">
    <h1><i class="fa fa-list-ol"></i> Courses List</h1>
</section>
<section class="content">
    <div class="box box-solid col-xs-12">
        <div class="box-header with-border">
            <a href="/Courses/Create" class="btn btn-primary pull-right">
                <i class="fa fa-plus-circle"></i> Add a Course
            </a>
        </div>
        <div class="box-body">
            <table class="table table-striped">
                <tr>
                    <th>Course Code</th>
                    <th class="hidden-xs">Course Name</th>
                    <th class="hidden-xs">Course Status</th>
                    <th class="hidden-xs">Course Leader</th>
                    <th class="hidden-xs">Course Moderator</th>
                    <th class="hidden-xs">Accademic Session</th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CourseCode)
                        </td>
                        <td class="hidden-xs">
                            @Html.DisplayFor(modelItem => item.CourseName)
                        </td>
                        @if (item.CourseStatus == 0)
                        {
                            <td class="hidden-xs">Inactive</td>
                        }
                        else if (item.CourseStatus == 1)
                        {
                            <td class="hidden-xs">Active</td>
                        }
                        else if (item.CourseStatus == 2)
                        {
                            <td class="hidden-xs">Deleted</td>
                        }
                        else if (item.CourseStatus == 3)
                        {
                            <td class="hidden-xs">Pending Approval</td>
                        }
                        else if (item.CourseStatus == 4)
                        {
                            <td class="hidden-xs">Approved</td>
                        }
                        else
                        {
                            <td class="hidden-xs"></td>
                        }
                        <td>
                            @item.CourseLeader.UserName
                        </td>
                        <td>
                            @item.CourseModerator.UserName
                        </td>
                        <td>
                            @item.AccademicSession.AccSessName
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.CourseId })
                        </td>
                    </tr>
                }
            </table>
        </div>
        <div class="box-footer">
            <div class="form-group col-xs-12"></div>
        </div>
    </div>
</section>