@using MIS.Common
@using MIS.Web.Models
@model MIS.Web.Models.CourseViewModel

@{
    ViewBag.Title = @UIString.TitlePageCourse;
}

<section class="content-header">
    <h1 class="fa fa-list">
        @UIString.TitlePageManageLarge
        <small> @UIString.FieldNameCourseId</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @UIString.BreadCrumbHome</a></li>
        <li><a href="@Url.Action("Index", "Course")">@UIString.TitlePageCourse</a></li>
        <li class="active">@UIString.BreadCrumbEdit</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-edit"></i>
                        @UIString.BreadCrumbEdit @UIString.FieldNameCourseId
                    </h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("Edit", "Course", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                @Html.LabelFor(model => model.CourseName, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.CourseName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.CourseName, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                @Html.LabelFor(model => model.ModuleId, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.ModuleId, (IEnumerable<SelectListItem>)ViewBag.ModuleList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ModuleId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                @Html.LabelFor(model => model.SemesterId, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.SemesterId, (IEnumerable<SelectListItem>)ViewBag.SemesterList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SemesterId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                @Html.LabelFor(model => model.SyllabusId, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.SyllabusId, (IEnumerable<SelectListItem>)ViewBag.SyllabusList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.SyllabusId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                @Html.LabelFor(model => model.CampusId, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.CampusId, (IEnumerable<SelectListItem>)ViewBag.CampusList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CampusId, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4 col-sm-12 col-xs-12">
                                @Html.LabelFor(model => model.CollegeId, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.CollegeId, (IEnumerable<SelectListItem>)ViewBag.CollegeList, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CollegeId, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <a class="btn btn-default  btn-view " href="@Url.Action("Index", "Course")" title="@MIS.Common.UIString.ButtonBack">
                            <i class="fa fa-chevron-circle-left"></i>
                            @MIS.Common.UIString.ButtonBack
                        </a>
                        <button type="submit" class="btn btn-info  btn-view" title="@MIS.Common.UIString.ButtonEdit">
                            <i class=" fa fa-edit"></i>
                            @MIS.Common.UIString.ButtonEdit
                        </button>

                    </div>
                    <!-- /.box-footer -->
                }
            </div>
        </div>
    </div>
</section>