@using MIS.Common
@model MIS.Web.Models.SubjectViewModel

@{
    ViewBag.Title = @UIString.TitlePageSubject;
}

<section class="content-header">
    <h1 class="fa fa-list">
         @UIString.TitlePageSubject
        <small> @UIString.FieldNameSubjectId</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> @UIString.BreadCrumbHome</a></li>
        <li><a href="@Url.Action("Index", "Subject")"> @UIString.TitlePageSubject</a></li>
        <li class="active"> @UIString.BreadCrumbCreate</li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-plus-square"></i>
                        @UIString.BreadCrumbCreate @UIString.FieldNameSubjectId
                    </h3>
                </div>

                <!-- /.box-header -->
                <!-- form start -->
                @using (Html.BeginForm("Create", "Subject", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="form-group col-md-4 col-sm-6">
                                @Html.LabelFor(model => model.SubjectName, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.SubjectName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SubjectName, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-sm-4 col-sm-6">
                                @Html.LabelFor(model => model.SubjectCode, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.SubjectCode, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.SubjectCode, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group col-md-4 col-sm-6">
                                @Html.LabelFor(model => model.CollegeId, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.CollegeId, (IEnumerable<SelectListItem>)ViewBag.CollegeList, "-----" + @UIString.DropListSelect + " " + @UIString.ObjectCollege + "-----", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.CollegeId, "", new { @class = "text-danger" })
                            </div>
                        </div>            
                        <div class="row">
                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                @Html.LabelFor(model => model.StatusId, htmlAttributes: new { @class = "control-label" })
                                @Html.DropDownListFor(model => model.StatusId, (IEnumerable<SelectListItem>)ViewBag.StatusList, "-----" + @UIString.DropListSelect + " " + @UIString.FieldNameStatusId + "-----", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group col-md-8 col-sm-6" >
                                @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">

                        <a class="btn btn-default btn-view" href="@Url.Action("Index", "Subject")" title="@MIS.Common.UIString.ButtonBack">
                            <i class="fa fa-chevron-circle-left"></i>
                            @MIS.Common.UIString.ButtonBack
                        </a>

                        <button type="submit" class="btn btn-primary btn-view" title="@MIS.Common.UIString.ButtonSubmit">
                            @MIS.Common.UIString.ButtonSubmit
                        </button>

                    </div>
                    <!-- /.box-footer -->
                }
                <!-- /.box-footer -->

            </div>
        </div>
    </div>
</section>
